<a href="https://colab.research.google.com/github/JongHyun2332/ipympl/blob/master/123456789.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('credit_cards_dataset.csv')

In [ ]:
df.head(3)

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0

[3 rows x 25 columns]

In [ ]:
df.tail(3)

          ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
29997  29998    30000.0    1  ...    2000.0    3100.0                           1
29998  29999    80000.0    1  ...   52964.0    1804.0                           1
29999  30000    50000.0    1  ...    1000.0    1000.0                           1

[3 rows x 25 columns]

In [ ]:
import xgboost as xgb

In [ ]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [ ]:
X = df.drop(['default.payment.next.month'], axis = 1).values

In [ ]:
X[:,-4:-1]

array([[    0.,     0.,     0.],
       [ 1000.,  1000.,     0.],
       [ 1000.,  1000.,  1000.],
       ...,
       [22000.,  4200.,  2000.],
       [ 1178.,  1926., 52964.],
       [ 1430.,  1000.,  1000.]])

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
y = df['default.payment.next.month'].values

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, train_size = 0.7, random_state = 100)

In [ ]:
X_train.shape

(21000, 24)

In [ ]:
y = df['default.payment.next.month'].values

XGB Matrix 설정

In [ ]:
dtrain = xgb.DMatrix(X_train, label=Y_train)

In [ ]:
dtest = xgb.DMatrix(X_test, label=Y_test)

In [ ]:
type(dtrain)

xgboost.core.DMatrix

In [ ]:
param = {'max_depth' : 10, 'eta' : 0.01, 'objective' : 'binary:logistic'}
param['nthread'] = 4
param['eval_metric'] = 'auc'

In [ ]:
evallist = [(dtest,'eval'),(dtrain,'train')]

In [ ]:
num_round = 200
bst = xgb.train(param, dtrain, num_round, evallist)

[0]	eval-auc:0.757028	train-auc:0.816388
[1]	eval-auc:0.765205	train-auc:0.825584
[2]	eval-auc:0.765845	train-auc:0.828532
[3]	eval-auc:0.765386	train-auc:0.828403
[4]	eval-auc:0.766596	train-auc:0.829558
[5]	eval-auc:0.766115	train-auc:0.830237
[6]	eval-auc:0.766968	train-auc:0.830992
[7]	eval-auc:0.766464	train-auc:0.831067
[8]	eval-auc:0.7671	train-auc:0.831211
[9]	eval-auc:0.767116	train-auc:0.831453
[10]	eval-auc:0.767181	train-auc:0.832088
[11]	eval-auc:0.767108	train-auc:0.832493
[12]	eval-auc:0.767423	train-auc:0.832884
[13]	eval-auc:0.767413	train-auc:0.833082
[14]	eval-auc:0.767837	train-auc:0.833463
[15]	eval-auc:0.768482	train-auc:0.834105
[16]	eval-auc:0.769166	train-auc:0.836252
[17]	eval-auc:0.769738	train-auc:0.837551
[18]	eval-auc:0.769788	train-auc:0.837683
[19]	eval-auc:0.76995	train-auc:0.838515
[20]	eval-auc:0.770344	train-auc:0.838786
[21]	eval-auc:0.770651	train-auc:0.839631
[22]	eval-auc:0.771436	train-auc:0.841769
[23]	eval-auc:0.771904	train-auc:0.842282
[24]	eval-auc:0.772444	train-auc:0.843569
[25]	eval-auc:0.772896	train-auc:0.845051
[26]	eval-auc:0.77312	train-auc:0.845217
[27]	eval-auc:0.773533	train-auc:0.846242
[28]	eval-auc:0.773884	train-auc:0.846947
[29]	eval-auc:0.774179	train-auc:0.848363
[30]	eval-auc:0.774421	train-auc:0.848458
[31]	eval-auc:0.774631	train-auc:0.849587
[32]	eval-auc:0.774884	train-auc:0.850536
[33]	eval-auc:0.775089	train-auc:0.851377
[34]	eval-auc:0.775265	train-auc:0.852067
[35]	eval-auc:0.775732	train-auc:0.852778
[36]	eval-auc:0.775753	train-auc:0.853448
[37]	eval-auc:0.775862	train-auc:0.853953
[38]	eval-auc:0.775915	train-auc:0.854485
[39]	eval-auc:0.776335	train-auc:0.854971
[40]	eval-auc:0.776286	train-auc:0.855386
[41]	eval-auc:0.776585	train-auc:0.855786
[42]	eval-auc:0.776463	train-auc:0.856264
[43]	eval-auc:0.776716	train-auc:0.8566
[44]	eval-auc:0.776732	train-auc:0.857025
[45]	eval-auc:0.776844	train-auc:0.857418
[46]	eval-auc:0.776942	train-auc:0.857761
[47]	eval-auc:0.776792	train-auc:0.858049
[48]	eval-auc:0.77694	train-auc:0.858358
[49]	eval-auc:0.776996	train-auc:0.858559
[50]	eval-auc:0.776836	train-auc:0.858953
[51]	eval-auc:0.776859	train-auc:0.859315
[52]	eval-auc:0.776914	train-auc:0.85954
[53]	eval-auc:0.777007	train-auc:0.859898
[54]	eval-auc:0.777162	train-auc:0.860099
[55]	eval-auc:0.777241	train-auc:0.860466
[56]	eval-auc:0.777184	train-auc:0.86086
[57]	eval-auc:0.777207	train-auc:0.861068
[58]	eval-auc:0.777323	train-auc:0.861539
[59]	eval-auc:0.777349	train-auc:0.861796
[60]	eval-auc:0.777306	train-auc:0.862056
[61]	eval-auc:0.777443	train-auc:0.86243
[62]	eval-auc:0.777619	train-auc:0.862619
[63]	eval-auc:0.777707	train-auc:0.863072
[64]	eval-auc:0.777788	train-auc:0.863509
[65]	eval-auc:0.777955	train-auc:0.86384
[66]	eval-auc:0.777905	train-auc:0.864052
[67]	eval-auc:0.77793	train-auc:0.864449
[68]	eval-auc:0.777938	train-auc:0.864834
[69]	eval-auc:0.778028	train-auc:0.865266
[70]	eval-auc:0.778084	train-auc:0.865694
[71]	eval-auc:0.778081	train-auc:0.866083
[72]	eval-auc:0.778073	train-auc:0.866395
[73]	eval-auc:0.778118	train-auc:0.866814
[74]	eval-auc:0.778143	train-auc:0.867119
[75]	eval-auc:0.778071	train-auc:0.867365
[76]	eval-auc:0.778208	train-auc:0.867833
[77]	eval-auc:0.778249	train-auc:0.868317
[78]	eval-auc:0.778217	train-auc:0.868682
[79]	eval-auc:0.778253	train-auc:0.869185
[80]	eval-auc:0.778177	train-auc:0.869396
[81]	eval-auc:0.778141	train-auc:0.869627
[82]	eval-auc:0.778043	train-auc:0.869907
[83]	eval-auc:0.778121	train-auc:0.870451
[84]	eval-auc:0.778212	train-auc:0.870849
[85]	eval-auc:0.778327	train-auc:0.871347
[86]	eval-auc:0.77834	train-auc:0.871597
[87]	eval-auc:0.778364	train-auc:0.87183
[88]	eval-auc:0.778374	train-auc:0.872283
[89]	eval-auc:0.778462	train-auc:0.872733
[90]	eval-auc:0.77854	train-auc:0.873056
[91]	eval-auc:0.778571	train-auc:0.873495
[92]	eval-auc:0.778551	train-auc:0.873919
[93]	eval-auc:0.778617	train-auc:0.874256
[94]	eval-auc:0.778682	train-auc:0.874646
[95]	eval-auc:0.778715	train-auc:0.875001
[96]	eval-auc:0.778758	train-auc:0.875712
[97]	eval-auc:0.778759	train-auc:0.876348
[98]	eval-auc:0.778786	train-auc:0.877005
[99]	eval-auc:0.778746	train-auc:0.877588
[100]	eval-auc:0.778792	train-auc:0.878168
[101]	eval-auc:0.778697	train-auc:0.878718
[102]	eval-auc:0.778735	train-auc:0.879371
[103]	eval-auc:0.778721	train-auc:0.88005
[104]	eval-auc:0.778641	train-auc:0.880731
[105]	eval-auc:0.778601	train-auc:0.881133
[106]	eval-auc:0.778687	train-auc:0.881676
[107]	eval-auc:0.778641	train-auc:0.88222
[108]	eval-auc:0.778687	train-auc:0.882608
[109]	eval-auc:0.778703	train-auc:0.883119
[110]	eval-auc:0.778692	train-auc:0.883635
[111]	eval-auc:0.778726	train-auc:0.884241
[112]	eval-auc:0.778854	train-auc:0.88484
[113]	eval-auc:0.778934	train-auc:0.885408
[114]	eval-auc:0.778881	train-auc:0.885908
[115]	eval-auc:0.77885	train-auc:0.886489
[116]	eval-auc:0.778851	train-auc:0.886883
[117]	eval-auc:0.778769	train-auc:0.887465
[118]	eval-auc:0.778693	train-auc:0.888124
[119]	eval-auc:0.778639	train-auc:0.889042
[120]	eval-auc:0.778627	train-auc:0.889446
[121]	eval-auc:0.778588	train-auc:0.890189
[122]	eval-auc:0.778657	train-auc:0.891023
[123]	eval-auc:0.778587	train-auc:0.891494
[124]	eval-auc:0.778589	train-auc:0.892305
[125]	eval-auc:0.778612	train-auc:0.893098
[126]	eval-auc:0.778612	train-auc:0.893553
[127]	eval-auc:0.77864	train-auc:0.894353
[128]	eval-auc:0.778624	train-auc:0.895005
[129]	eval-auc:0.778547	train-auc:0.895708
[130]	eval-auc:0.778521	train-auc:0.896133
[131]	eval-auc:0.778541	train-auc:0.896749
[132]	eval-auc:0.778498	train-auc:0.897363
[133]	eval-auc:0.778431	train-auc:0.897776
[134]	eval-auc:0.778425	train-auc:0.89833
[135]	eval-auc:0.778385	train-auc:0.898934
[136]	eval-auc:0.778406	train-auc:0.899308
[137]	eval-auc:0.778314	train-auc:0.899775
[138]	eval-auc:0.778295	train-auc:0.900126
[139]	eval-auc:0.778201	train-auc:0.900497
[140]	eval-auc:0.778171	train-auc:0.900844
[141]	eval-auc:0.778135	train-auc:0.901128
[142]	eval-auc:0.778276	train-auc:0.901547
[143]	eval-auc:0.778265	train-auc:0.902067
[144]	eval-auc:0.778341	train-auc:0.902461
[145]	eval-auc:0.778307	train-auc:0.902773
[146]	eval-auc:0.7783	train-auc:0.903261
[147]	eval-auc:0.778316	train-auc:0.9036
[148]	eval-auc:0.778461	train-auc:0.903919
[149]	eval-auc:0.778562	train-auc:0.904287
[150]	eval-auc:0.778495	train-auc:0.904627
[151]	eval-auc:0.778496	train-auc:0.904927
[152]	eval-auc:0.778577	train-auc:0.905252
[153]	eval-auc:0.778673	train-auc:0.905809
[154]	eval-auc:0.778771	train-auc:0.906299
[155]	eval-auc:0.77881	train-auc:0.906843
[156]	eval-auc:0.778899	train-auc:0.907272
[157]	eval-auc:0.778965	train-auc:0.907744
[158]	eval-auc:0.77901	train-auc:0.90814
[159]	eval-auc:0.779063	train-auc:0.908654
[160]	eval-auc:0.779132	train-auc:0.909041
[161]	eval-auc:0.779098	train-auc:0.909455
[162]	eval-auc:0.779171	train-auc:0.909904
[163]	eval-auc:0.779244	train-auc:0.910315
[164]	eval-auc:0.779199	train-auc:0.910734
[165]	eval-auc:0.77922	train-auc:0.911108
[166]	eval-auc:0.779267	train-auc:0.911564
[167]	eval-auc:0.779309	train-auc:0.911921
[168]	eval-auc:0.779274	train-auc:0.912264
[169]	eval-auc:0.779327	train-auc:0.912572
[170]	eval-auc:0.779413	train-auc:0.912954
[171]	eval-auc:0.779465	train-auc:0.913224
[172]	eval-auc:0.779468	train-auc:0.913591
[173]	eval-auc:0.779384	train-auc:0.914012
[174]	eval-auc:0.779424	train-auc:0.914281
[175]	eval-auc:0.77945	train-auc:0.914659
[176]	eval-auc:0.779515	train-auc:0.914941
[177]	eval-auc:0.77957	train-auc:0.9153
[178]	eval-auc:0.779693	train-auc:0.915636
[179]	eval-auc:0.77971	train-auc:0.915952
[180]	eval-auc:0.779721	train-auc:0.916264
[181]	eval-auc:0.779846	train-auc:0.916598
[182]	eval-auc:0.779863	train-auc:0.916909
[183]	eval-auc:0.779873	train-auc:0.917199
[184]	eval-auc:0.779914	train-auc:0.917444
[185]	eval-auc:0.779903	train-auc:0.917689
[186]	eval-auc:0.77993	train-auc:0.917976
[187]	eval-auc:0.779873	train-auc:0.918215
[188]	eval-auc:0.779854	train-auc:0.918487
[189]	eval-auc:0.77986	train-auc:0.9188
[190]	eval-auc:0.779889	train-auc:0.919197
[191]	eval-auc:0.779921	train-auc:0.919488
[192]	eval-auc:0.77993	train-auc:0.919906
[193]	eval-auc:0.779903	train-auc:0.920115
[194]	eval-auc:0.779886	train-auc:0.920387
[195]	eval-auc:0.779907	train-auc:0.920755
[196]	eval-auc:0.779905	train-auc:0.921054
[197]	eval-auc:0.779885	train-auc:0.921331
[198]	eval-auc:0.779896	train-auc:0.921678
[199]	eval-auc:0.779932	train-auc:0.921881

In [ ]:
bst.save_model('0001.model')

In [ ]:
bst.load_model('./0001.model')

In [ ]:
ypred = bst.predict(dtest)

In [ ]:
ypred[:3]

In [ ]:
import numpy as np
predictions = np.round(ypred)

In [ ]:
predictions

In [ ]:
from sklearn.metrics import recall_score

In [ ]:
recall_score(Y_test, predictions)

In [ ]:
xgb.plot_importance(bst)